{% load staticfiles i18n compress%}
{# {% load thumbnail %}#}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>ZescoFC</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!--[if IE 9]>
    <script src="js/media.match.min.js"></script>
  <![endif]-->
</head>

<body>
  {% block main_body %}
<div id="main-wrapper">

  <!-- Start Header -->
  <header id="header" class="second-version">
    <div class="container">
      <div class="header-logo">
        <a href="{% url "news:home"%}"><img src="{% static 'img/logo1.png' %}" alt=""></a>
         <div class="triangle-left"></div>
        <div class="triangle-right"></div>
      </div>
    </div>
    <div class="header-toolbar">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="header-language pull-left">
            <a href="index.html">
              <i class="fa fa-globe"></i>
              <span>EN</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="custom-list">
              <li class="active"><a href="index.html#">EN</a></li>
              <!-- <li><a href="#">FR</a></li>
              <li><a href="#">PT</a></li>
              <li><a href="#">IT</a></li> -->
            </ul>
          </div>



        </div>
      </div>
    </div>
    <div class="header-navbar">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nav class="navigation">
            <ul class="list-inline text-center custom-list">
              <li class="has-submenu">
                <a href="{% url "news:home" %}">Home</a>
                <ul class="sub-menu custom-list">
                  <li class="active"><a href="{% url "news:history" %}">History</a></li>
                  <li><a href="{% url "news:ticket" %}">Buy a Ticket</a></li>

                </ul>
              </li>
              <li><a href="#about">About</a></li>
              <li><a href="#teams">Teams</a></li>
              <li><a href="#news">News</a></li>
              <li><a href="#footer">Contact</a></li>
            </ul>
          </nav>
          <ul class="social list-inline">
            <li><a href="http://www.facebook.com/ZescoUnitedFc"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.twitter.com/ZescoUnitedFc"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://www.instagram.com/ZescoUnitedFc"><i class="fa fa-instagram"></i></a></li>
            <li><a href="http://www.youtube.com/user/ZescoUnitedFc"><i class="fa fa-youtube"></i></a></li>

          </ul>
          <button class="navbar-toggle">
            <i class="fa fa-list"></i>
            <!--
            <li><a href="home6.html">Home Variation 6 (video & social)</a></li>
          -->
          </button>
        </div>
    </div>
  </header>
  <!-- End Header -->

  <!-- Start Intro -->
  <div class="intro">
    <div id="home-slider" class="owl-carousel owl-theme">

        <!-- Start Video Background -->
      <div class="item">
        <img class="img-responsive" src="{% static 'img/slider/bg2.jpg' %}" alt="img background">
        <div class="slide-content col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center">
          <h1>Team Ya Ziko</h1>
          <p>ZESCO United Football Club is a Zambian professional football club based in Ndola that plays in the Zambian Premier league. Founded on January 1, 1974, the club have spent most of their history in the top tier of Zambian football.</p>
          <a href="{% url "news:history" %}" class="button"><span>Read More</span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="{% static "img/slider/bg6.jpg" %}" alt="">
        <div class="slide-content col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center">
          <h1>Team Ya Ziko</h1>
          <p>ZESCO United Football Club is a Zambian professional football club based in Ndola that plays in the Zambian Premier league. Founded on January 1, 1974, the club have spent most of their history in the top tier of Zambian football.</p>
          <a href="{% url "news:history" %}" class="button"><span>Read More</span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="{% static "img/slider/bg4.jpg" %}" alt="">
        <div class="slide-content col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center">
          <h1>Team Ya Ziko</h1>
          <p>ZESCO United Football Club is a Zambian professional football club based in Ndola that plays in the Zambian Premier league. Founded on January 1, 1974, the club have spent most of their history in the top tier of Zambian football.</p>
          <a href="{% url "news:history" %}" class="button"><span>Read More</span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>



    <div class="customNavigation">
      <a class="btn prev"><i class="fa fa-angle-left"></i></a>
      <a class="btn next"><i class="fa fa-angle-right"></i></a>
    </div>
  </div>
  <!-- End Intro -->
{% block main_container %}
  <!-- Start About -->
  <div id="about" class="about">
    <!-- Start Container -->
    <div class="container">
    <blockquote class="pull-left col-lg-12">
      <h4>About FC</h4>
         <p>The Club is registered under office of Registrar of Companies and Business names and is therefore referred to as Zesco United Football Club Limited.
            The club is professionally run with all the Players, Technical Bench and Secretariat Staff being on full time employment basis.
            ZUFC is affiliated to the Football Association of Zambia (FAZ), Confederation of African Football (CAF) and the Federation of International Football Association (FIFA). The club has pledged full compliance to the Club Licensing regulations and is committed to taking part in all forums organized by FAZ, CAF and FIFA for the implementation of Club Licensing.</p>
         <small>by <cite>Zesco Football club</cite></small>
    </blockquote>
    </div>
    <!-- End Container -->

    <!-- Start Nav-Tabs -->
    <ul class="nav nav-tabs list-inline horizontal-tab" role="tablist">
      <li class="active"><a href="index.html#matches" role="tab" data-toggle="tab">Matches</a>
      </li>
      <li class=""><a href="index.html#trainings" role="tab" data-toggle="tab">Trainings</a>
      </li>
    </ul>
    <!-- End Nav-Tabs -->

    <!-- Start Tab-Content -->
    <div class="tab-content">
      <div class="container">
        <div class="tab-pane fade active in" id="matches">

          <!-- Start Nav-Tabs -->
          <ul class="nav nav-tabs list-inline experience" role="tablist">
            <li class="active"><a href="index.html#seniors-matches" role="tab" data-toggle="tab">Seniors</a>
            </li>
            <li class=""><a href="index.html#juvenile-matches" role="tab" data-toggle="tab">Juniors</a>
            </li>
            <li class=""><a href="index.html#veterans-matches" role="tab" data-toggle="tab">Veterans</a>
            </li>
          </ul>
          <!-- End Nav-Tabs -->

          <!-- Start Tab Seniors -->
          <div class="tab-pane fade active in" id="seniors-matches">

            <!-- Start Result -->
            <div class="result col-lg-6 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
              <h4 class="border">Latest Result</h4>
              <div class="team">
                <figure>
                  <img src="{% static 'img/team1.jpg' %}" alt="" class="team-background">
                  <img src="{% static 'img/team1-logo.png' %}" alt="" class="team-logo">
                  <figcaption>
                    Nkhana Rangers
                  </figcaption>
                </figure>
              </div>
              <div class="match-details">
                <header class="match-name"><h5>Match 4</h5></header>
                <div class="score">
                  <span class="color">1</span>
                  <span>:</span>
                  <span>1</span>
                </div>
                <footer class="schedule">
                  <span class="team-name">Levy mwanawasa stadium</span>
                  <span class="time">30 May 23:00</span>
                </footer>
              </div>
              <div class="team">
                <figure>
                  <img src="{% static 'img/team2.jpg' %}" alt="" class="team-background">
                  <img src="{% static 'img/logo1.png' %}"  alt="" class="team-logo">
                  <figcaption>
                    Zesco United
                  </figcaption>
                </figure>
              </div>
            </div>
            <!-- End Result -->

            <!-- Start Upcoming -->
            <div class="upcoming col-lg-6 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
              <h4 class="border">Upcoming Matches</h4>
              <ul class="matches custom-list">
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming.png' %}" alt=""><span>Napsa Stars</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Power dynamos</span>
                    <img src="{% static 'img/team-upcoming2.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming3.png' %}" alt=""><span>Naboye high school fc</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Kitwe rangers</span>
                    <img src="{% static 'img/team-upcoming4.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming5.png' %}" alt=""><span>Red Arrows</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Independence Stadium.</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>zesco fc</span>
                    <img src="{% static 'img/team-upcoming6.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming7.png' %}" alt=""><span>Power Dynamos</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Woodlands Stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Napsa Stars</span>
                    <img src="{% static 'img/team-upcoming8.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming3.png' %}" alt=""><span>Naboye high school fc</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Zesco fc</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Zesco United</span>
                    <img src="{% static 'img/team-upcoming4.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming5.png' %}" alt=""><span>Red Arrows</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Zesco FC</span>
                    <img src="{% static 'img/team-upcoming6.png' %}" alt="">
                  </div>
                </li>
              </ul>
              <a class="button text-left prev"><i class="fa fa-angle-left"></i><span>Previous</span></a>
              <div class="match-week">
                <div class="datepicker-inner" data-date="12/03/2012">Week <span class="count">7</span><i class="fa fa-angle-down"></i></div>
              </div>
              <a class="button text-right next"><span>Next</span><i class="fa fa-angle-right"></i></a>
            </div>
            <!-- End Upcoming -->

          </div>
          <!-- End Tab Seniors -->

          <!-- Start Tab Juvenile -->
          <div class="tab-pane fade" id="juvenile-matches">

            <!-- Start Result -->
            <div class="result col-lg-6 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
              <h4 class="border">Latest Result</h4>
              <div class="team">
                <figure>
                  <img src="{% static 'img/team1.jpg' %}" alt="" class="team-background">
                  <img src="{% static 'img/team1-logo.png' %}" alt="" class="team-logo">
                  <figcaption>
                    Zesco FC
                  </figcaption>
                </figure>
              </div>
              <div class="match-details">
                <header class="match-name"><h5>Match 4</h5></header>
                <div class="score">
                  <span class="color">2</span>
                  <span>:</span>
                  <span>1</span>
                </div>
                <footer class="schedule">
                  <span class="team-name">Independence Stadium</span>
                  <span class="time">30 May 23:00</span>
                </footer>
              </div>
              <div class="team">
                <figure>
                  <img src="{% static 'img/team2.jpg' %}" alt="" class="team-background">
                  <img src="{% static 'img/team2-logo.png' %}" alt="" class="team-logo">
                  <figcaption>
                    Zesco FC
                  </figcaption>
                </figure>
              </div>
            </div>
            <!-- End Result -->

            <!-- Start Upcoming -->
            <div class="upcoming col-lg-6 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
              <h4 class="border">Upcoming Matches</h4>
              <ul class="matches custom-list">
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming3.png' %}" alt=""><span>Naboye high school fc</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Zesco United</span>
                    <img src="{% static 'img/team-upcoming4.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming.png' %}" alt=""><span>Napsa Starts</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Woodlands Stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Zesco FC</span>
                    <img src="{% static 'img/team-upcoming2.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming5.png' %}" alt=""><span>Red Arrows</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Altair FC</span>
                    <img src="{% static 'img/team-upcoming6.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming7.png' %}" alt=""><span>Power Dynamos</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Juggernaut</span>
                    <img src="{% static 'img/team-upcoming8.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming3.png' %}" alt=""><span>Naboye high school fc</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Magenta United</span>
                    <img src="{% static 'img/team-upcoming4.png' %}" alt="">
                  </div>
                </li>
              </ul>
              <a class="button text-left prev"><i class="fa fa-angle-left"></i><span>Previous</span></a>
              <div class="match-week">
                <div class="datepicker-inner" data-date="12/03/2012">Week <span class="count">7</span><i class="fa fa-angle-down"></i></div>
              </div>
              <a class="button text-right next"><span>Next</span><i class="fa fa-angle-right"></i></a>
            </div>
            <!-- End Upcoming -->

          </div>
          <!-- End Tab Juvenile -->

          <!-- Start Tab Veterans -->
          <div class="tab-pane fade" id="veterans-matches">

            <!-- Start Result -->
            <div class="result col-lg-6 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
              <h4 class="border">Latest Result</h4>
              <div class="team">
                <figure>
                  <img src="{% static 'img/team1.jpg' %}" alt="" class="team-background">
                  <img src="{% static 'img/team1-logo.png' %}" alt="" class="team-logo">
                  <figcaption>
                    Zesco FC
                  </figcaption>
                </figure>
              </div>
              <div class="match-details">
                <header class="match-name"><h5>Match 1</h5></header>
                <div class="score">
                  <span class="color">5</span>
                  <span>:</span>
                  <span>3</span>
                </div>
                <footer class="schedule">
                  <span class="team-name">Levy mwanawasa stadium</span>
                  <span class="time">30 May 23:00</span>
                </footer>
              </div>
              <div class="team">
                <figure>
                  <img src="{% static 'img/team2.jpg' %}" alt="" class="team-background">
                  <img src="{% static 'img/team2-logo.png' %}" alt="" class="team-logo">
                  <figcaption>
                    Zesco FC
                  </figcaption>
                </figure>
              </div>
            </div>
            <!-- End Result -->

            <!-- Start Upcoming -->
            <div class="upcoming col-lg-6 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
              <h4 class="border">Upcoming Matches</h4>
              <ul class="matches custom-list">
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming7.png' %}" alt=""><span>Power Dynamos</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Juggernaut</span>
                    <img src="{% static 'img/team-upcoming8.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming3.png' %}" alt=""><span>Naboye high school fc</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Magenta United</span>
                    <img src="{% static 'img/team-upcoming4.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming5.png' %}" alt=""><span>Red Arrows</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Altair FC</span>
                    <img src="{% static 'img/team-upcoming6.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming.png' %}" alt=""><span>Napsa Stars</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Magenta FC</span>
                    <img src="{% static 'img/team-upcoming2.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming3.png' %}" alt=""><span>Naboye high school fc</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Magenta United</span>
                    <img src="{% static 'img/team-upcoming4.png' %}" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="{% static 'img/team-upcoming5.png' %}" alt=""><span>Red Arrows</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Levy mwanawasa stadium</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Altair FC</span>
                    <img src="{% static 'img/team-upcoming6.png' %}" alt="">
                  </div>
                </li>
              </ul>
              <a class="button text-left prev"><i class="fa fa-angle-left"></i><span>Previous</span></a>
              <div class="match-week">
                <div class="datepicker-inner" data-date="12/03/2012">Week <span class="count">7</span><i class="fa fa-angle-down"></i></div>
              </div>
              <a class="button text-right next"><span>Next</span><i class="fa fa-angle-right"></i></a>
            </div>
            <!-- End Upcoming -->

          </div>
          <!-- End Tab Veterans -->

        </div>
        <!-- End Matches -->

        <!-- Start Trainings -->
        <div class="tab-pane fade" id="trainings">

          <!-- Start Nav-Tabs -->
          <ul class="nav nav-tabs list-inline experience" role="tablist">
            <li class="active"><a href="index.html#seniors-trainings" role="tab" data-toggle="tab">Senior Squard</a>
            </li>
            <li class=""><a href="index.html#juvenile-trainings" role="tab" data-toggle="tab">Juniors Squard</a>
            </li>
            <li class=""><a href="index.html#veterans-trainings" role="tab" data-toggle="tab">Veterans</a>
            </li>
          </ul>
          <!-- End Nav-Tabs -->

          <!-- Start Tab Seniors -->
          <div class="tab-pane fade active in" id="seniors-trainings">
            <div class="training-header col-lg-12 col-md-12 col-sm-12">
              <h4 class="border pull-left">Team 5 in Last 6 games</h4>
              <div class="training-dropdown pull-right">
                <select class="" data-placeholder="2014 Training Schedule">
                  <option value="option1">2015 Training Schedule</option>
                  <option value="option2">2016 Training Schedule</option>
                  <option value="option3">2017 Training Schedule</option>
                  <option value="option4">2018 Training Schedule</option>
                </select>
              </div>
            </div>
            <div class="training-table col-lg-12 col-md-12 col-xs-12">
              <header>
                <a href="index.html#" class="button prev pull-left"><i class="fa fa-arrow-circle-left"></i><span>Previous</span></a>
                <h5>2014 training schedule (all times central)</h5>
                <a href="index.html#" class="button next pull-right"><span>Next</span><i class="fa fa-arrow-circle-right"></i></a>
              </header>
              <table class="table">
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3">Day</th>
                  <th class="col-lg-3 col-md-3 col-xs-3">Date</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">Practice Time/Notes</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">Morning Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Friday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 25</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">No Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Saturday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 26</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">No Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Sunday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 27</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">Offensive Line</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Monday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 28</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">No Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Tuesday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 29</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">No practice  - closed to the public</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">Defensive Backs</th>
                </tr>
              </table>
              <footer>
                <span>All practices will take place at Estadio Azteca in Mexico, unless noted.Practice dates and times are subject to change at any time.</span>
              </footer>
            </div>
          </div>
          <!-- End Tab Seniors -->

          <!-- Start Tab Juvenile -->
          <div class="tab-pane fade" id="juvenile-trainings">
            <div class="training-header col-lg-12 col-md-12 col-xs-12">
              <h4 class="border pull-left">Team 12 in Last 6 games</h4>
              <div class="training-dropdown pull-right">
                <select class="" data-placeholder="2014 Training Schedule">
                  <option value="option1">2015 Training Schedule</option>
                  <option value="option2">2016 Training Schedule</option>
                  <option value="option3">2017 Training Schedule</option>
                  <option value="option4">2018 Training Schedule</option>
                </select>
              </div>
            </div>
            <div class="training-table col-lg-12 col-md-12 col-xs-12">
              <header>
                <a href="index.html#" class="button prev pull-left"><i class="fa fa-arrow-circle-left"></i><span>Previous</span></a>
                <h5>2014 training schedule (all times central)</h5>
                <a href="index.html#" class="button next pull-right"><span>Next</span><i class="fa fa-arrow-circle-right"></i></a>
              </header>
              <table class="table">
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3">Day</th>
                  <th class="col-lg-3 col-md-3 col-xs-3">Date</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">Practice Time/Notes</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">Morning Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Friday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 25</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">No Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Saturday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 26</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">No Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Sunday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 27</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">Offensive Line</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Monday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 28</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">No Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Tuesday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 29</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">No practice  - closed to the public</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">Defensive Backs</th>
                </tr>
              </table>
              <footer>
                <span>All practices will take place at Estadio Azteca in Mexico, unless noted.Practice dates and times are subject to change at any time.</span>
              </footer>
            </div>
          </div>
          <!-- End Tab Juvenile -->

          <!-- Start Tab Veterans -->
          <div class="tab-pane fade" id="veterans-trainings">
            <div class="training-header col-lg-12 col-md-12 col-xs-12">
              <h4 class="border pull-left">Team 21 in Last 6 games</h4>
              <div class="training-dropdown pull-right">
                <select class="" data-placeholder="2014 Training Schedule">
                  <option value="option1">2015 Training Schedule</option>
                  <option value="option2">2016 Training Schedule</option>
                  <option value="option3">2017 Training Schedule</option>
                  <option value="option4">2018 Training Schedule</option>
                </select>
              </div>
            </div>
            <div class="training-table col-lg-12 col-md-12 col-xs-12">
              <header>
                <a href="index.html#" class="button prev pull-left"><i class="fa fa-arrow-circle-left"></i><span>Previous</span></a>
                <h5>2014 training schedule (all times central)</h5>
                <a href="index.html#" class="button next pull-right"><span>Next</span><i class="fa fa-arrow-circle-right"></i></a>
              </header>
              <table class="table">
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3">Day</th>
                  <th class="col-lg-3 col-md-3 col-xs-3">Date</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">Practice Time/Notes</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">Morning Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Friday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 25</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">No Autographs</th>
                </tr>

                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Saturday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 26</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">No Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Sunday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 27</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">Offensive Line</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Monday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 28</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">9:00 - 11:30 am</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">No Autographs</th>
                </tr>
                <tr>
                  <th class="col-lg-3 col-md-3 col-xs-3"><strong>Tuesday</strong></th>
                  <th class="col-lg-3 col-md-3 col-xs-3">July 29</th>
                  <th class="col-lg-4 col-md-4 col-xs-4">No practice  - closed to the public</th>
                  <th class="col-lg-2 col-md-2 col-xs-2">Defensive Backs</th>
                </tr>
              </table>
              <footer>
                <span>All practices will take place at Estadio Azteca in Mexico, unless noted.Practice dates and times are subject to change at any time.</span>
              </footer>
            </div>
          </div>
          <!-- End Tab Veterans -->

        </div>
        <!-- End Trainings -->

      </div>
    </div>
    <!-- End Tab-Content -->

  </div>
  <!-- End About -->

  <!-- Start Teams -->
  <div id="teams" class="teams">
    <div class="container">

      <!-- Start Heading -->
      <div class="heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="border">Our Teams</h4>
      </div>
      <!-- End Heading -->

      <!-- Start Teams-Frame -->
      <div class="teams-frame col-lg-12">

        <!-- Start Nav-Tabs -->
        <ul class="nav nav-tabs vertical-tab col-md-12" role="tablist">
          <li class="active"><a href="index.html#senior-team" role="tab" data-toggle="tab">Senior</a>
          </li>
          <li class=""><a href="index.html#juveline-team" role="tab" data-toggle="tab">Juveline</a>
          </li>
          <li class=""><a href="index.html#veteran-team" role="tab" data-toggle="tab">Veteran</a>
          </li>
        </ul>
        <!-- End Nav-Tabs -->

        <!-- Start Tab Seniors -->
        <div class="tab-pane fade active in" id="senior-team">

          <!-- Start Team-Players -->
          <div class="team-players">
            {% for player in senior_player %}

            <div class="player-profile">
              <img src="{% static 'img/team-player6.jpg' %}" alt="" class="thumbnail">
              <span class="number">{{ player.number }}</span>
              <span class="name">{{ player.name }}</span>
            </div>
             {% endfor %}
          <!-- End Team-Players -->

        </div>
        </div>
        <!-- End Tab Seniors -->

        <!-- Start Tab Juveline -->
        <div class="tab-pane fade" id="juveline-team">

           <!-- Start Team-Players -->
          <div class="team-players">
            {% for player in juvenile_player %}

            <div class="player-profile">
              <img src="{% static 'img/team-player10.jpg' %}" alt="" class="thumbnail">
              <span class="number">{{ player.number }}</span>
              <span class="name">{{ player.name }}</span>
            </div>
             {% endfor %}
          </div>
          <!-- End Team-Players -->

        </div>
        <!-- End Tab Juveline -->

        <!-- Start Tab Veteran -->
        <div class="tab-pane fade" id="veteran-team">

           <!-- Start Team-Players -->
          <div class="team-players">
            {% for player in veteran_player %}
            <div class="player-profile">
              <img src="{% static 'img/team-player8.jpg' %}" alt="" class="thumbnail">
              <span class="number">{{ player.number}}</span>
              <span class="name">{{ player.name }}</span>
            </div>
             {% endfor %}
          </div>
          <!-- End Team-Players -->

        </div>
        <!-- End Tab Veteran -->

      </div>
      <!-- End Teams-Frame -->

    </div>
  </div>
  <!-- End Teams -->

  {% endblock main_container %}

  {% block recent_news %}
    <div class="container">
  <div class="row">
    <div class="col-lg-12">
          <h1 class="page-header text-center ">
            Whats New
          </h1>

      <ul class="timeline">
        {% for post in post_list %}
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'img/news.jpg' %}" alt="" height="250" width="250">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>{{ post.title }}</h4>
              <small class="subheading">{{ post.modified }}</small>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                 {{ post.body_summary }}              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        {% endfor %}
          <!--
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/2" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Two</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/3" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/4" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/5" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Bonus Step</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>

      {% endblock recent_news %}

      <!-- right panel thumbnails -->



  <!-- End of right hand thumbnails-->


      <div class="row single-news col-lg-4 col-md-4 col-sm-12 col-xs-12">






      <!-- Start Single-News -->


        <article>

          {# {{ post.body }}#}
          {# {% latest_blog_posts 5 %}#}
        </article>
      </div>
      {# {% endfor %}#}
      <br />
      <!-- End Single-News -->

      <!-- Start Single-News -->

      <!-- End Single-News -->

    </div>
  </div>
  <!-- End News -->

  <!-- Start Twitter -->
  <div class="twitter-widget loading">
    <div class="container">
      <div class="col-lg-12">
        <i class="fa fa-twitter"></i>
        <div class="widget-content">
          <div class="twitter-feed paginated" data-id="uouapps" data-limit="3" data-interval="0"><span class="loading-anim"><span></span></span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Twitter -->

  <!-- Start Footer -->
  {% block footer %}
  <footer id="footer">
    <div class="container">

      <!-- Start Footer-Top -->
      <div class="footer-top clearfix">
        <div class="widget col-lg-3 col-md-3 col-sm-6">
          <h5 class="widget-title">About FC</h5>
          <p>ZESCO United Football Club is a Zambian professional football club based in Ndola that plays in the Zambian Premier league. Founded on January 1, 1974, the club have spent most of their history in the top tier of Zambian football.</p>
          <ul class="contact-info custom-list">
            <li><i class="fa fa-map-marker"></i><span>38A Lewanika Road, Town Centre.P O Box 76280 Ndola, Zambia.</span></li>
            <li><i class="fa fa-phone"></i><span>+260966787348 / +260955787348 ( Chief Executive Off icer)</span></li>
            <li><i class="fa fa-envelope"></i><span><a href="mailto:example@example.com">info@zescounitedfc.com</a></span></li>
          </ul>
        </div>
        <!--
        <div class="widget col-lg-3 col-md-3 col-sm-6">
          <ul class="custom-list">
            <li><a href="{% url "news:history" %}">Club History and recodings</a></li>
            <li><a href="{% url "news:ticket" %}">Tickets and Membership</a></li>
            <li><a href="#">Features</a></li>
          </ul>
        </div>
      -->
        <div class="widget col-lg-3 col-md-3 col-sm-6">
          <h5 class="widget-title">Support</h5>
          <ul class="custom-list">
            <li><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>

        <div class="widget col-lg-6 col-md-3 col-sm-6 pull-right">
          <h5 class="widget-title">Enquiries</h5>
          <form action="home8.html#" class="contact-form default-form row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-row">
              <input type="text" placeholder="Name">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-row">
              <input type="text" placeholder="Email">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-row">
              <textarea name="message" placeholder="Message"></textarea>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-right">
              <button class="button"><span>Send Message</span><i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Footer-Top -->

      <!-- Start Sposnors -->
      <div class="sponsors clearfix">
        <h5 class="text-center">Sponsors</h5>
          {% for sponser in sponser_list %}
         <div class="sponsor-logo text-center col-lg-2 col-md-2 col-sm-4">
            <img src="{{ sponser.logo.url }}" alt="" class="img-circle" height="87", width="150">
         </div>

        {% endfor %}


      </div>
      <!-- End Sponsors -->

    </div>

    <!-- Start Copyrights -->
    <div class="copyrights clearfix text-center">
      <p class="col-lg-12">© Zesco united fc 2017</p>
    </div>
    <!-- End Copyrights -->

  </footer>
  {% endblock footer %}

  <!-- End Footer -->

  <!-- Start Back-to-Top -->
  <a href="index.html#" id="back-to-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- End Back-to-Top -->

</div>
<!-- end #main-wrapper -->

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.ba-outside-events.min.js' %}"></script>
<script src="{% static 'js/tab.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/jquery.vide.min.js' %}"></script>
<script src="{% static 'twitter/jquery.tweet.min.js' %}" type="text/javascript"></script>

{% endblock main_body %}
</body>
</html>
